<!DOCTYPE html>
<html>
  <head>
    <title>Omni</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3>Welcome</h3>
    <div id="user-widget">
      <% if current_user %>
        Welcome <strong><%= current_user.name %></strong>! <br>
        <%= image_tag current_user.image %>
        <%= link_to  "Sign Out", signout_path, id: "sign_out" %>    
      <% else %>
        <%= link_to  "Sign in with Instagram", "/auth/instagram" %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
